//----------------------------------*\
// VARS
//----------------------------------*/
$paging-wrap-border: .1rem solid #ccc;
$paging-wrap-padding: 1.5em 0;
$paging-wrap-margin: 2em $base-page-gutter 0;
$page-numbers-border-color: #ccc;
$page-numbers-color: $link-color;
$page-numbers-color-hover: darken($link-color,10%);
$page-numbers-background-hover: #eee;
$current-color: $white;
$current-background: $link-color;

//----------------------------------*\
// STYLES
//----------------------------------*/
.paging {
	line-height: normal;
	border-top: $paging-wrap-border;
	padding: $paging-wrap-padding;
	margin: $paging-wrap-margin;

	ul {
		overflow: hidden;
		display: block;
		border: .1rem solid $page-numbers-border-color;
		border-radius: .4rem;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		float: left;

		&:first-child {
			a {
				border-left: 0;
			}
		}

		&:first-child,
		&:last-child {
			width: 50%;
		}
	}

	a,
	.current,
	.dots {
		display: none;
		border-left: .1rem solid $page-numbers-border-color;
		text-decoration: none;
		padding: 1.2rem 1.6rem;
	}

	.prev,
	.next {
		display: block;

		span {
			position: relative;
			top: -.1rem;
		}
	}

	a {
		color: $page-numbers-color;

		&:hover {
			color: $page-numbers-color-hover;
			background: $page-numbers-background-hover;
		}
	}

	.current {
		color: $current-color;
		background: $current-background;
	}
}

//----------------------------------*\
// RESPONSIVE
//----------------------------------*/
@include responsiveQuery(m) {
	.paging {
		ul {
			display: inline-block;
		}

		li {
			&:first-child,
			&:last-child {
				width: auto;
			}
		}

		a,
		.current,
		.dots {
			display: block;
		}
	}
}