//----------------------------------*\
// VARS
//----------------------------------*/
// heading font sizes based off $base-font-size = 15
$heading-font-sizes: (
	'h1': 30,
	'h2': 26,
	'h3': 22,
	'h4': 18,
	'h5': 15,
	'h6': 13
);

$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color:       inherit;

$link-color: #C8CED5;
$link-color-hover: $primary-color;

$blockquote-font-size:     ceil(($base-font-size * 1.2));
$blockquote-border-color:  $tiertiary-color-two;
$page-header-border-color: $tiertiary-color-two;
$blockquote-small-color:   $tiertiary-color-two;

$hr-color: #ccc;

//----------------------------------*\
// STYLES
//----------------------------------*/
/*
 * Headings
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: $headings-color;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	padding-top: $line-height-computed;
	padding-bottom: ($line-height-computed / 2);
	margin: 0;
}

h1, .h1,
h2, .h2,
h3, .h3 {
	color: #3f454d;
}

h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: 600;
}

@each $h, $h-size in $heading-font-sizes {
	#{$h}, .#{$h} {
		@include font-rem($h-size);
	}
}

/**
 * Body Text
 */
p {
	margin: 0 0 ($line-height-computed * 2);
}

/*
 * Links
 */
a {
	color: $link-color;
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover {
		color: $link-color-hover;
		transition: all 0.3s ease;
	}
}

/**
 * Lists
 */
ul,
ol {
	margin-top: 0;
	margin-bottom: ($line-height-computed / 2);

	ul,
	ol {
		margin-bottom: 0;
	}
}

%list-unstyled,
.list-unstyled {
	padding-left: 0;
	list-style: none;
}

/**
 * Blockquotes
 */
blockquote {
	@include font-rem($blockquote-font-size);
	border-left: .5rem solid $blockquote-border-color;
	padding: ($line-height-computed / 2) $line-height-computed;
	margin: 0 0 $line-height-computed;

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	footer {
		display: block;
		font-size: 80%; // back to default font-size
		line-height: $base-line-height;
		color: $blockquote-small-color;

		&:before {
		  content: '\2014 \00A0'; // em dash, nbsp
		}
	}

	&-reverse {
		padding-right: 1.5rem;
		padding-left: 0;
		border-right: .5rem solid $blockquote-border-color;
		border-left: 0;
		text-align: right;

		// Account for citation
		footer {
			&:before { content: ''; }
			&:after {
				content: '\00A0 \2014'; // nbsp, em dash
			}
		}
	}
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: .1rem;
	border: 0;
	border-top: .1rem solid $hr-color;
	margin: 1em 0;
	padding: 0;
}

/**
 * Text meant only for screen readers
 */
.screen-reader-text {
	clip: rect(.1rem, .1rem, .1rem, .1rem);
	height: .1rem;
	overflow: hidden;
	position: absolute !important;
	width: .1rem;
}