footer.global-footer
	ul.global-footer__nav
		li.global-footer__nav--item #[a(href="#") About Us]
		li.global-footer__nav--item #[a(href="#") Support]
		li.global-footer__nav--item #[a(href="#") Privacy]
		li.global-footer__nav--item #[a(href="#") Terms]

	.copyright &copy; 2014 simplysocial


div(id="create-post-box", class="animate--fade-and-scale hidden")
	.create-post-box.border--rounded
		form.create-post-box__form
			label.create-post-box__label(for="create-post-box__textarea") Create new message
			textarea.create-post-box__textarea(name="create-post-box__textarea")
			.create-post-box__actions
				button.create-post-box__button #[i.icon-camera] #[span Add Photo]
				button.create-post-box__button #[i.icon-video-camera] #[span Add Video]
				input.create-post-box__submit(type="submit", value="Post")

		a(class="create-post-box_close post__popup--close") &times;

block bottom-script
	script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
	script.
		window.jQuery || document.write('<script src="#{js_dir}jquery-2.1.4.min.js"><\/script>')

	script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js')
	script.
		WebFont.load({
			google: {
				families: ['Open Sans:300,400,600,700']
			},
			typekit: { id: 'dhk1rfe' }
		});
	script(src='#{js_dir}plugins.min.js')
	script(src='#{js_dir}main.min.js')