header.global-header
	.global-header__wrap--inside
		a.global-header__logo(href="./") #[i.icon-logo] #[span #[span simply]social]

		a.global-header__create-post.create-post-box_open.on-click--popup(href="#", data-popup-id="create-post-box") #[i.icon-new-message]

		.global-header__search
			span.global-header__search--responsive-button.on-click--show #[i.icon-magnify]
			form.global-header__search--form.hidden
				label.sr-only(for="search-input") Search
				.global-header__search--input-group
					input.global-header__search--input.border--rounded(type="text", name="search-input", id="s", value="")
					button.global-header__search--submit.border--rounded(type="submit", name="search-submit") #[i.icon-magnify]

		.global-header__profile
			a.global-header__profile--avatar.on-click--show #[span.image-wrap.border--rounded #[img(src="http://placehold.it/30")]]
			ul.global-header__profile--dropdown.border--rounded.hidden
				li.global-header__profile--dropdown__item #[a(href="#") Profile]
				li.global-header__profile--dropdown__item #[a(href="#") Followers]
				li.global-header__profile--dropdown__item #[a(href="#") Following]
				li.global-header__profile--dropdown__item #[a(href="./profile-settings.html") Settings]