.post__user
	a.post__user--link(href="#")
		span.post__user--avatar.border--rounded #[img(src="#{author_avatar}", alt="#{author_name}", title="View #{author_name} Profile")]
		span.post__user--name #{author_name}
.post__content
	p !{post_content}

if post_image
	.post__image #[a(class="post__image--link on-click--popup #{post_image_id}_open", data-popup-id="#{post_image_id}") #[span.post__image--wrap #[img(src="#{post_image}")]]]

	div(id="#{post_image_id}", class="animate--fade-and-scale")
		.post.padding--none.border--rounded.border--none.background--white
			.post__image--wrap
				if post_video
					!{post_video}
				else
					img(src="#{post_image}")

			.post.border--rounded.border--none.margin--bottom-none.margin--left-none.margin--right-none
				.post__action
					a.post__action--reply(href="#") #[i.icon-reply]
					a.post__action--like(href="#") #[i.icon-like]
					a.post__action--posted(href="#") #[time #{post_time}]
				.post__user
					a.post__user--link(href="#")
						span.post__user--avatar.border--rounded #[img(src="#{author_avatar}", alt="#{author_name}", title="View #{author_name} Profile")]
						span.post__user--name #{author_name}
				.post__content
					p !{post_content}

				.post__more
					.post__comments
						.post.post__form--wrap
							form.post__form
								input.post__form--input.border--rounded(type="text", placeholder="Reply...")

		a(class="#{post_image_id}_close post__popup--close") &times;

if actions == 'on'
	.post__action
		a.post__action--reply(href="#") #[i.icon-reply]
		a.post__action--like(href="#") #[i.icon-like]
		a.post__action--posted(href="#") #[time #{post_time}]