.post.post__parent.border--rounded
	- var author_avatar = 'http://placehold.it/40'
	- var author_name = 'Sam Soffes'
	- var post_time = '3m'
	- var actions = 'on'
	- var post_content = 'How to Get Inspired: the Right Way - Designmodo <a href="#" target="_blank">bit.ly/1hqgbQA</a> Good stuff from <a href="#" target="_blank">@designmodo</a>!'
	- var post_image = ''
	include list-post_content.jade