.post.post__parent.post-type--video.border--rounded
	- var author_avatar = 'http://placehold.it/40'
	- var author_name = 'Meg Robichaud'
	- var post_time = '3m'
	- var actions = 'on'
	- var post_content = 'My view this morning is simply beautiful... <a href="#" target="_blank">instagram.com/p/mV0PUrHRwQ/</a>'
	- var post_image = './assets/img/post-image.jpg'
	- var post_video = '<iframe width="975" height="548" src="https://www.youtube-nocookie.com/embed/jofNR_WkoCE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>'
	include list-post_content.jade