.post.post__parent.post-type--image.border--rounded
	- var author_avatar = 'http://placehold.it/40'
	- var author_name = 'Meg Robichaud'
	- var post_time = '3m'
	- var actions = 'on'
	- var post_content = 'My view this morning is simply beautiful... <a href="#" target="_blank">instagram.com/p/mV0PUrHRwQ/</a>'
	- var post_image = './assets/img/post-image.jpg'
	- var post_video = ''
	include list-post_content.jade