.post.post__parent.border--rounded
	- var author_avatar = 'http://placehold.it/40'
	- var author_name = 'Sam Soffes'
	- var post_time = '3m'
	- var actions = 'on'
	- var post_content = 'How to Get Inspired: the Right Way - Designmodo <a href="#" target="_blank">bit.ly/1hqgbQA</a> Good stuff from <a href="#" target="_blank">@designmodo</a>!'
	- var post_image = ''
	- var post_image_id = ''
	include list-post_content.jade

	.post__more
		a.post__more--expand.on-click--show.on-click--swap-text(data-open-text="Expand", data-close-text="Collapse") Expand

		.post__comments.hidden
			.post
				- var author_name = 'Jed Bridges'
				- var post_time = '1h'
				- var actions = 'on'
				- var post_content = 'Great way to start the week. Thanks for sharing!'
				- var post_image = ''
				include list-post_content.jade

			.post
				- var author_name = 'Ren Walker'
				- var post_time = '1h'
				- var actions = 'on'
				- var post_content = 'Feeling inspired now... thanks for great article <a href="#" target="_blank">@designmodo</a>'
				- var post_image = ''
				include list-post_content.jade

			.post.post__form--wrap
				form.post__form
					input.post__form--input.border--rounded(type="text", placeholder="Reply...")