- var css_dir = './assets/css/'
- var js_dir = './assets/js/min/'
- var title = 'Simply Social'

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	block vars

	title #{title}

	link(rel="icon", href="./favicon.ico", type="image/x-icon")

	block css
		link(rel='stylesheet', href='#{css_dir}font.css')
		link(rel='stylesheet', href='#{css_dir}style.css')
