// brand colors
$primary-color: #00cc99 !default;
$secondary-color: #31b9ff !default;
$tiertiary-color-one: #262728 !default;
$tiertiary-color-two: #bec3cc !default;
$tiertiary-color-three: #70767f !default;

// sizing
$base-max-width: 100% !default;
$base-page-gutter: 2rem !default;

// font sizing
$reset-font-divider: 10;
$reset-font-size: ( 100 / 16 ) * $reset-font-divider !default;
$base-font-size: 15 !default;
$base-font-size-calc: 1.1rem !default; // used for calculations
$base-line-height: 1.7 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    ($base-font-size-calc * $base-line-height) !default;

// font styles
$primary-font-family: "open-sans", "Open Sans", sans-serif !default;
$secondary-font-family: "proxima-nova", sans-serif !default;
$base-font-family: $primary-font-family !default;
$base-font-color: $tiertiary-color-three !default;
$base-text-align: center !default;

// monochrome colors
$black: #000;
$gray: #dee1e5;
$white: #fff;

// multi colors
$blue:         #337ab7 !default;
$green:        #00b286 !default;
$blue-lighter: #5bc0de !default;
$orange:       #f0ad4e !default;
$red:          #ff4f4f !default;

// miscellaneous
$highlight-background-color: $blue !default;
$highlight-text-color: $white !default;