$font-folder: '../font/simplysocial';

@font-face {
	font-family: 'simplysocial';
	src:url('#{$font-folder}/simplysocial.eot?vphqx7');
	src:url('#{$font-folder}/simplysocial.eot?vphqx7#iefix') format('embedded-opentype'),
		url('#{$font-folder}/simplysocial.ttf?vphqx7') format('truetype'),
		url('#{$font-folder}/simplysocial.woff?vphqx7') format('woff'),
		url('#{$font-folder}/simplysocial.svg?vphqx7#simplysocial') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'simplysocial';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
	content: "\e907";
}
.icon-logo:before {
	content: "\e900";
}
.icon-new-message:before {
	content: "\e901";
}
.icon-magnify:before {
	content: "\e902";
}
.icon-camera:before {
	content: "\e903";
}
.icon-video-camera:before {
	content: "\e904";
}
.icon-like:before {
	content: "\e905";
}
.icon-reply:before {
	content: "\e906";
}
.icon-mail:before {
	content: "\e908";
}
.icon-user:before {
	content: "\e909";
}