//----------------------------------*\
// STYLES
//----------------------------------*/
.account {
	&__wrap {
		display: inline-block;
		width: 100%;
		text-align: left;
		padding: 2.3rem $base-page-gutter;
		margin: 0 auto;
	}
}

.account-info {
	border-top: .1rem solid $gray;
	padding-top: 1.9rem;
	padding-bottom: 5rem;

	&:first-child {
		border-top: 0 none;
	}

	h6 {
		padding-bottom: 2.3rem;
	}

	&__avatar {
		width: 18.5rem;
		padding-bottom: 2rem;
		margin: 0 auto;

		.image-wrap {
			overflow: hidden;
			display: inline-block;
			width: 100%;
			margin-bottom: 1rem;
		}

		.button {
			display: block;
			color: $tiertiary-color-two;
			@include font-rem(12);
			padding: .2rem 0 .3rem;

			&:hover {
				color: $white;
				border-color: $tiertiary-color-two;
				background-color: $tiertiary-color-two;
			}
		}

		& + [class*="__fields"] {
			max-width: 32rem;
			padding-top: 0;

			.account-info__fields--submit {
				float: right;
				color: $primary-color;
				background: none;
				padding: .8rem 1.5rem .9rem 1.5rem;
				margin-top: -3.8rem;
				margin-right: .2rem;
				margin-left: -.2rem;

				&:hover {
					color: $white;
					background-color: $base-button-background-hover;
				}
			}
		}
	}

	&__fields {
		float: left;
		width: 100%;
		padding-top: 1.2rem;

		::-webkit-input-placeholder { color: $gray; }
			 :-ms-input-placeholder { color: $gray; }
				  :-moz-placeholder { color: $gray; }
				 ::-moz-placeholder { color: $gray; }

		&--input-group {
			position: relative;
			margin: 2rem 0 0;

			&:first-child {
				margin-top: 0;
			}

			&.spacing {
				padding-top: 3.1rem;
			}

			[class*="icon-"] {
				position: absolute;
				top: 1.2rem;
				left: 1.3rem;
				color: $tiertiary-color-two;
				@include font-rem(16);
			}
		}

		&--label {

		}

		&--input {
			width: 100%;
			color: #3f454d;
			border: .1rem solid $tiertiary-color-two;
			padding: .9rem 4rem;
			margin: 0;

			&:focus {
				outline: 0;
				border-color: $secondary-color;

				& + [class*="icon"] {
					color: #3f454d;
				}
			}

			&.validate {
				padding-right: 7rem;

				&.error {
					border-color: $red;
					background-color: #ffe6e6;

					& + [class*="icon"] {
						color: $red;
					}

					& ~ input[type="submit"] {
						display: none;
					}
				}

				&.valid {
					border-color: $green;

					& + [class*="icon"] {
						color: $green;
					}
				}
			}
		}
	}

	@include responsiveQuery(xs) {
		&__avatar {
			float: left;
			width: 8.5rem;
			margin-right: 2.6rem;
		}
	}

	@include responsiveQuery(s) {
		&__avatar {
			margin-right: 5rem;

			& + [class*="__fields"] {
				max-width: 36.6rem;
			}
		}
	}
}

$fancy-input-width: 5rem;
$fancy-input-height: 2.5rem;

.fancy {
	overflow: hidden;

	label {
		cursor: pointer;
		position: relative;
		z-index: 1;
		float: left;
		width: 100%;

		& + label {
			margin-top: .9rem;
		}
	}

	[type="radio"],
	[type="checkbox"] {
		clip: rect(0 0 0 0);
		overflow: hidden;
		position: absolute;
		width: .1rem;
		height: .1rem;
		border: 0;
		padding: 0;
		margin: -.1rem;

		&:checked {
			& + [class*="toggle"] {
				&:before {
					background-color: $green;
				}
			}
		}
	}

	[class*="toggle"] {
		&:before,
		&:after {
			display: block;
			position: absolute;
			content: '';
			border-radius: $fancy-input-height;
			transition: 0.3s ease all;
		}
	}

	&.type {
		&--slide {
			label {
				padding-left: $fancy-input-width + $fancy-input-height;
			}

			[type="checkbox"] {
				&:checked {
					& + [class*="toggle"] {
						&:after {
							margin-left: $fancy-input-height;
						}
					}
				}
			}

			[class*="toggle"] {
				&:before {
					top: 50%;
					left: 0;
					width: $fancy-input-width;
					height: $fancy-input-height;
					background-color: $gray;
					margin-top: -($fancy-input-height / 2);
				}

				&:after {
					top: 50%;
					left: .1rem;
					bottom: .1rem;
					width: $fancy-input-height - .2;
					height: $fancy-input-height - .2;
					background-color: $white;
					margin-top: -($fancy-input-height / 2) + .1;
				}
			}
		}

		&--dot {
			label {
				padding-left: 5rem;
			}

			[type="radio"],
			[type="checkbox"] {
				&:focus {
					& + [class*="toggle"] {
						&:before {
							border-color: $blue;
						}
					}
				}
			}

			[class*="__toggle"] {
				&:before {
					top: 0;
					left: 0;
					width: $fancy-input-height - .2;
					height: $fancy-input-height - .2;
					background-color: $white;
					border: .1rem solid $gray;
				}

				&:after {
					top: .1rem;
					left: .1rem;
					width: ($fancy-input-height - .2) - .6;
					height: ($fancy-input-height - .2) - .6;
					border: .3rem solid $white;
				}
			}
		}
	}


	@include responsiveQuery(xs) {
		&.type--slide {
			label {
				width: 100%;
			}
		}
	}
}