//----------------------------------*\
// VARS
//----------------------------------*/

//----------------------------------*\
// STYLES
//----------------------------------*/
.hidden {
	display: none;
}

[class*="on-click--"] {
	cursor: pointer;
}

.border {
	&--rounded {
		border-radius: .3rem;
	}

	&--none {
		border: 0 none;
	}
}

.padding {
	&--none {
		padding: 0;
	}

	&--bottom-none {
		padding-bottom: 0;
	}
}

.margin {
	&--none {
		margin: 0;
	}

	&--top-none {
		margin-top: 0;
	}

	&--right-none {
		margin-right: 0;
	}

	&--bottom-none {
		margin-bottom: 0;
	}

	&--left-none {
		margin-left: 0;
	}
}

.background {
	&--white {
		background-color: $white;
	}
}

.popup_content {
	width: 100%;
	max-width: 97.5rem;
	padding: ($base-page-gutter * 1.5) 1rem;
	margin-top: 1rem;

	.post {
		position: static;
		display: block;
		max-width: 100%;
		margin: 0;
	}

	.post__action {
		position: absolute;
		top: 0;
		left: 2rem;
	}

	.post__popup--close {
		top: .5rem;
		right: 2rem;
	}

	@include responsiveQuery(s) {
		padding: 2.5rem;
		margin-top: 12.3rem;

		.post {
			position: relative;
		}

		.post__action {
			position: relative;
			top: auto;
			left: auto;
		}

		.post__popup--close {
			right: .5rem;
		}
	}
}

.text {
	&--uppercase {
		text-transform: uppercase;
	}
}

.width {
	&--narrow {
		max-width: 57.5rem + ($base-page-gutter * 2);
	}
}

.animate {
	&--fade-and-scale {
		transform: scale(0.8);

		.popup_visible & {
			transform: scale(1);
		}
	}
}

.effect {
	&--blur {
		filter: url(blur.svg#blur);
		-webkit-filter: blur(3px);
		filter: blur(3px);
		filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	}
}