//----------------------------------*\
// STYLES
//----------------------------------*/
.content-filter {
	position: relative;
	max-width: 61.5rem;
	text-align: left;
	padding: 0 2rem 0 1rem;
	margin: -3.7rem auto 0;

	&__list {
		list-style: none;
		color: $tiertiary-color-two;
		@include font-rem(12);
		font-weight: 700;
		text-transform: uppercase;
		padding: 0;
		margin: 0;

		&--item {
			position: relative;
			float: left;
			padding: 0 1rem;

			a {
				cursor: pointer;
				position: relative;
				display: block;
				z-index: 1;
			}

			.link {
				border-bottom: .4rem solid transparent;
				padding: 0 1rem 1.3rem;
			}

			&.active,
			&:hover {
				.link {
					color: $white;
					border-bottom-color: $primary-color;
				}
			}
		}

		[class*="view--"] {
			display: none;
			float: right;
			width: .9rem;
			height: .9rem;
			padding: 0;
			margin: .5rem 0 0 1.5rem;

			a {
				position: absolute;
				top: -1rem;
				left: -1rem;
				width: 2.9rem;
				height: 2.9rem;
			}
		}
	}

	@include responsiveQuery(l) {
		&__list {
			[class*="view--"] {
				display: block;
			}
		}
	}
}

.view {
	&--list {
		border: solid $tiertiary-color-two;
		border-width: .1rem 0;

		&:after {
			content: '';
			position: absolute;
			top: .3rem;
			left: 0;
			width: 100%;
			height: .1rem;
			background-color: $tiertiary-color-two;
		}
	}

	&--grid {
		&:before,
		&:after,
		a:before,
		a:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: .3rem;
			height: .3rem;
			background-color: $tiertiary-color-two;
		}

		&:after {
			left: auto;
			right: 0;
		}

		a:before {
			top: 1.6rem;
			left: 1rem;
		}

		a:after {
			top: 1.6rem;
			right: 1rem;
			left: auto;
		}
	}

	&--list {
		&.active,
		&:hover {
			border-color: $white;

			&:after {
				background-color: $white;
			}
		}
	}

	&--grid {
		&.active,
		&:hover {
			&:before,
			&:after,
			a:before,
			a:after {
				background-color: $white;
			}
		}
	}
}