//----------------------------------*\
// STYLES
//----------------------------------*/
.create-post-box {
	position: relative;
	width: 100%;
	max-width: 57.5rem;
	text-align: left;
	background-color: $gray;
	padding: 1.8rem 2.5rem 2.3rem;
	margin: 0 auto;

	&__textarea,
	&__input,
	&__button {
		border: none;
		padding: 0;
		margin: 0;

		&:focus {
			outline: 0 none;
		}
	}

	&__label {
		display: block;
		color: $tiertiary-color-three;
		padding-bottom: 1.5rem;
	}

	&__textarea {
		width: 100%;
		min-height: 9rem;
		color: $black;
		@include font-rem(24);
		font-weight: 300;
		background-color: $white;
		padding: 0 1rem;
	}

	::-webkit-input-placeholder { color: rgba($white,.5); }
		 :-ms-input-placeholder { color: rgba($white,.5); }
			  :-moz-placeholder { color: rgba($white,.5); }
			 ::-moz-placeholder { color: rgba($white,.5); }

	&__actions {
		padding: 1.7rem 0 0;
	}

	&__button {
		width: 49%;
		color: rgba($tiertiary-color-three,.5);
		@include font-rem(14);
		text-align: left;
		background: none;

		&:hover {
			color: $tiertiary-color-three;
		}

		[class*="icon-"] {
			margin-right: .6rem;
		}
	}

	&__submit {
		display: block;
		width: 100%;
		margin-top: 2rem;

		&:focus {
			outline: 0 none;
		}
	}

	.post__popup--close {
		top: -2.5rem !important;
		right: 0 !important;
	}

	@include responsiveQuery(xs) {
		&__button {
			width: auto;

			& + & {
				margin-left: 4.1rem;
			}
		}

		&__submit {
			float: right;
			width: auto;
			margin-top: -.6rem;
		}
	}

	@include responsiveQuery(s) {
		margin-top: 18.3rem;
	}

	@include responsiveQuery(m) {
		.post__popup--close {
			top: -2.1rem !important;
			right: -2.5rem !important;
		}
	}
}