//----------------------------------*\
// VARS
//----------------------------------*/

//----------------------------------*\
// STYLES
//----------------------------------*/
.global-header {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 6rem;
	line-height: 5.7rem;
	background-color: $tiertiary-color-one;
	transition: all 0.3s ease;

	&__wrap {
		&--inside {
			max-width: 130 + ($base-page-gutter * 2);
			text-align: right;
			padding: 0 $base-page-gutter;
			margin: 0 auto;
		}
	}

	&__logo,
	&__create-post,
	&__search,
	&__profile {
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.sticky & {
		position: fixed;
		top: 0;
		box-shadow: 0 0 .4rem rgba($black,.75);
		transition: all 0.3s ease;
	}

	/* Logo
	******************************/
	&__logo {
		float: left;
		color: #bec3cc;
		@include font-rem(19);
		font-family: $secondary-font-family;
		line-height: 5.8rem;

		&:hover {
			span {
				color: $primary-color;
				transition: all 0.3s ease;
			}
		}

		> span {
			display: inline-block;
			vertical-align: middle;

			span {
				color: $tiertiary-color-three;
				transition: all 0.3s ease;
			}
		}

		[class*="icon-"] {
			vertical-align: middle;
			color: $primary-color;
			@include font-rem(25);
		}
	}

	/* Logo
	******************************/
	&__create-post {
		position: relative;
		top: .1rem;
		color: $primary-color;

		&:hover {
			color: $secondary-color;
		}

		[class*="icon-"] {
			@include font-rem(26);
		}
	}

	/* Search
	******************************/
	&__search {
		&--responsive-button {
			position: relative;
			color: rgba($tiertiary-color-two,.4);
			margin-left: 1rem;
			margin-right: -.4rem;

			[class*="icon-"] {
				@include font-rem(22);
			}
		}

		&--form {
			width: 100%;
			position: absolute;
			top: 6rem;
			left: 0;
			background-color: $tiertiary-color-one;
			padding: 0 1rem 1rem;
		}

		&--input-group {
			position: relative;
			vertical-align: middle;
			height: 3rem;
		}

		&--input,
		&--submit {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			height: 100%;
			background-color: transparent;
			padding: 0;
			margin: 0;

			&:focus {
				outline: 0;
			}
		}

		&--input {
			width: 100%;
			border: .1rem solid rgba($tiertiary-color-three,.4);
			padding: 0 3rem 0 .5rem;

			&:focus {
				background-color: $white;
				border-color: $secondary-color;

				& + button {
					color: $tiertiary-color-one;
				}
			}

			&.not-empty {
				color: $tiertiary-color-three;
			}
		}

		&--submit {
			position: absolute;
			top: 0;
			right: 0;
			width: 3rem;
			color: rgba($tiertiary-color-two,.4);
			text-align: center;

			&:hover {
				color: $tiertiary-color-two;
				background-color: transparent;
			}
		}
	}

	/* Profile
	******************************/
	&__profile {
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			width: 0;
			height: 0;
			border: solid;
			border-width: .4rem .4rem 0;
			border-color: rgba($tiertiary-color-three,.5) transparent;
			margin-top: -.2rem;
		}

		&--avatar {
			cursor: pointer;
			display: block;
			padding: 1.5rem 1.7rem;

			.image-wrap {
				overflow: hidden;
				display: block;
				width: 3rem;
				height: 3rem;
			}
		}

		&--dropdown {
			position: absolute;
			top: 5.7rem;
			right: -1.7rem;
			list-style: none;
			text-align: left;
			background-color: #f4f5f7;
			padding: 0;
			margin: 0;

			&:before {
				content: '';
				position: absolute;
				top: -.5rem;
				right: 1.7rem;
				width: 0;
				height: 0;
				border: solid;
				border-width: 0 .5rem .5rem;
				border-color: transparent transparent #f4f5f7;
			}

			&__item {
				border-top: .1rem solid $gray;

				&:first-child {
					border-top: 0;
				}
			}

			a {
				display: block;
				color: $tiertiary-color-three;
				padding: .5rem 1.6rem;

				&:hover {
					color: $primary-color;
				}
			}
		}
	}

	@include responsiveQuery(xs) {
		&__search {
			width: 33%;
			max-width: 20rem;
			margin: 0 .5rem 0 2rem;

			&--responsive-button {
				display: none;
			}

			&--form {
				display: block !important;
				position: relative;
				top: auto;
				left: auto;
				background-color: transparent;
				padding: 0;
			}

			&--input-group {
				display: inline-block;
			}
		}
	}

	@include responsiveQuery(m) {
		&__profile {
			margin-right: 1.7rem;
		}
	}
}