//----------------------------------*\
// VARS
//----------------------------------*/

//----------------------------------*\
// STYLES
//----------------------------------*/
.global-footer {
	@include font-rem(11);
	font-weight: 600;
	text-transform: uppercase;
	border-top: .1rem solid $gray;

	&__nav {
		vertical-align: top;
		list-style: none;
		padding: 1.5rem;
		margin: 0;

		&--item {
			vertical-align: top;
		}

		a {
			display: block;
			color: $primary-color;
			padding: 1rem;

			&:hover {
				color: $secondary-color;
			}
		}
	}

	@include responsiveQuery(xs) {
		&__nav {
			&,
			&--item {
				display: inline-block;
			}
		}
	}
}

.copyright {
	display: inline-block;
	vertical-align: top;
	color: $tiertiary-color-three;
	padding: 2.5rem 1.5rem 2.5rem 1rem;
}