//----------------------------------*\
// STYLES
//----------------------------------*/
.hero {
	min-height: 32.5rem;
	background: url('../img/hero-default_mini.jpg') 50% 0 repeat-x;
	padding: 6.3rem $base-page-gutter 0;

	&__post-box {
		width: 100%;
		max-width: 57.5rem;
		text-align: left;
		background-color: rgba($primary-color,.7);
		padding: 2.4rem 2.9rem 2.1rem;
		margin: 0 auto;

		&--input,
		&--button {
			border: none;
			background: none;
			padding: 0;
			margin: 0;

			&:focus {
				outline: 0 none;
			}
		}

		&--input {
			width: 100%;
			color: $white;
			@include font-rem(22);
			font-weight: 300;
		}

		::-webkit-input-placeholder { color: rgba($white,.5); }
			 :-ms-input-placeholder { color: rgba($white,.5); }
				  :-moz-placeholder { color: rgba($white,.5); }
				 ::-moz-placeholder { color: rgba($white,.5); }

		&--actions {
			padding: 2.7rem 0 0;
		}

		&--button {
			width: 49%;
			color: rgba($white,.5);
			@include font-rem(14);
			text-align: left;

			&:hover {
				color: $white;
			}

			[class*="icon-"] {
				margin-right: .6rem;
			}
		}
	}

	@include responsiveQuery(xs) {

		&__post-box {
			&--input {
				@include font-rem(30);
			}
		}
	}

	@include responsiveQuery(s) {
		min-height: 42.5rem;
		padding-top: 12.3rem;

		&__post-box {
			padding-top: 4.2rem;

			&--button {
				width: auto;

				& + & {
					margin-left: 4.1rem;
				}
			}
		}
	}
}