//----------------------------------*\
// STYLES
//----------------------------------*/
.post {
	overflow: hidden;
	position: relative;
	vertical-align: top;
	text-align: left;
	border: .1rem solid $gray;
	padding: 2.2rem 2.5rem 3.9rem;
	margin: 0 1.2rem 2.5rem;

	&__wrap {
		max-width: 119.5rem;
		text-align: center;
		padding: 5rem 0;
		margin: 0 auto;
	}

	&__column {
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	&__action {
		position: relative;
		top: .4rem;
		float: right;
		@include font-rem(14);
		margin-bottom: -2.3rem;

		&--reply {
			margin-right: 2.2rem;

			&:hover {
				color: $secondary-color;
			}
		}

		&--like {
			margin-right: 1.6rem;

			&:hover {
				color: $red;
			}
		}

		&--posted {
			position: relative;
			top: -.1rem;
		}
	}

	&__user {
		position: relative;
		display: inline-block;
		padding-left: 5.7rem;

		&--link {
			display: block;
		}

		&--avatar {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}

		&--name {
			display: block;
			color: #3f454d;
			@include font-rem(16);
			line-height: 1.4;
			padding: 0 0 .6rem;
			margin: -.2rem 0 0;
		}
	}

	&__content {
		overflow: hidden;
		color: $tiertiary-color-three;
		padding-left: 5.7rem;

		p {
			max-width: 100%;
			margin: 0 0 1.4rem;
		}

		a {
			position: relative;
			display: inline-block;
			max-width: 19rem;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-bottom: -.7rem;
		}
	}

	&__image {
		overflow: hidden;
		height: 22rem;
		position: relative;
		margin: 0 -2.5rem -1.6rem;

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			min-height: 100%;
		}

		&--link {
			position: relative;
			z-index: 5;
			display: block;
			height: 100%;
		}

		&--wrap {
			display: block;
		}
	}

	&__more {
		position: relative;
		padding-bottom: 0;
		margin: 0 -2.5rem -2.3rem;

		&--expand {
			cursor: pointer;
			position: relative;
			@include font-rem(12);
			padding-left: 8.2rem;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: -1.6rem;
				border: solid;
				border-width: .4rem .4rem 0;
				border-color: #d8dbe0 transparent;
				margin: -.2rem 0 0;
			}

			&.active {
				&:after {
					border-width: 0 .4rem .4rem;
				}
			}
		}
	}

	&__comments {
		position: relative;
		background-color: #f9fafb;
		padding-bottom: 1.5rem;
		margin-top: 1.6rem;
		margin-bottom: -3.9rem;

		.post {
			border-width: .1rem 0 0;
			border-top-color: #eef0f2;
			padding-bottom: .6rem;
			margin: 0;

			&__action {
				top: auto;
				margin-bottom: 0;
			}
		}
	}

	&__form {
		&--wrap.post {
			padding: 2.5rem 2.5rem 1rem;
		}

		&--input {
			width: 100%;
			@include font-rem(14);
			border: .1rem solid $gray;
			padding: .9rem 1.4rem 1rem;

			&:focus {
				outline: 0;
				border-color: $secondary-color;
			}
		}

		::-webkit-input-placeholder { color: $tiertiary-color-two; }
			 :-ms-input-placeholder { color: $tiertiary-color-two; }
				  :-moz-placeholder { color: $tiertiary-color-two; }
				 ::-moz-placeholder { color: $tiertiary-color-two; }
	}

	&__popup {
		&--close {
			cursor: pointer;
			position: absolute;
			top: -2.1rem;
			right: -2.5rem;
			width: 2rem;
			height: 2rem;
			color: $tiertiary-color-three;
			@include font-rem(21);
			font-weight: 300;
			line-height: 1.8rem;
			text-align: center;
			border: .1rem solid $tiertiary-color-three;
			border-radius: 2.1rem;

			&:hover {
				color: $white;
				border-color: $white;
			}
		}
	}

	/* Types */
	&-type {
		&--video {
			.post__image--wrap {
				&:before {
					content: '';
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $black;
					opacity: .3;
				}
			}

			.post__image--link {
				&:before {
					content: '';
					position: absolute;
					z-index: 2;
					top: 50%;
					left: 50%;
					width: 10rem;
					height: 10rem;
					border: .3rem solid $white;
					border-radius: 10rem;
					margin: -5.3rem 0 0 -5.3rem;
				}

				&:after {
					content: '';
					position: absolute;
					z-index: 2;
					top: 50%;
					left: 50%;
					border: solid;
					border-width: 1.6rem 0 1.6rem 2.8rem;
					border-color: transparent transparent transparent $white;
					margin: -1.6rem 0 0 -1rem;
				}
			}
		}

		&--image,
		&--video {
			.post__image {
				margin-bottom: 2.1rem;
			}
		}
	}

	&-view {
		&--list {
			.post {
				max-width: 100%;
			}

			.post__wrap {
				max-width: 61.5rem;
			}

			.post__column {
				max-width: 100%;
			}

			.post__parent {
				padding: 2.2rem 2.5rem 1.6rem;
			}

			.post__action {
				position: absolute;
				right: 2.5rem;
				top: 2.2rem;
			}

			.post__comments {
				margin-bottom: -1.6rem;
			}

			.post__more {
				margin: 0 -2.5rem;
			}

			.post__image {
				height: 31.5rem;
				margin-bottom: -1.6rem;
			}
		}
	}

	/* Responsive */
	@include responsiveQuery(s) {
		&__column {
			max-width: 61.5rem;
		}
	}

	@include responsiveQuery(l) {
		&__column {
			float: left;
			max-width: 33.3%;
		}
	}
}