doctype html
html(lang="en")
	include ./includes/meta-head.jade

	body
		include ./includes/header.jade

		.hero
			form.hero__post-box.border--rounded
				input.hero__post-box--input(type="text", name="hero__post-box--input", id="hpbi", placeholder="What's on your mind?")
				.hero__post-box--actions
					button.hero__post-box--button #[i.icon-camera] #[span Add Photo]
					button.hero__post-box--button #[i.icon-video-camera] #[span Add Video]

		.content-filter
			ul.content-filter__list.clearfix
				li.content-filter__list--item.active(data-filter="all") #[a.link All Posts]
				li.content-filter__list--item(data-filter="image") #[a.link Photos]
				li.content-filter__list--item(data-filter="video") #[a.link Videos]
				li.content-filter__list--item.view--grid(data-view="grid") #[a &nbsp;]
				li.content-filter__list--item.view--list.active(data-view="list") #[a &nbsp;]

		.main-content__wrap.clearfix.post-view--list

			.post__wrap
				.post__column
					- var post_image_id = ''
					include ./includes/list_item-post_more.jade

					- var post_image_id = 'video-popup1'
					include ./includes/list_item-post_video.jade

					- var post_image_id = ''
					include ./includes/list_item-post.jade

					- var post_image_id = ''
					include ./includes/list_item-post.jade

					- var post_image_id = 'image-popup1'
					include ./includes/list_item-post_image.jade

				.post__column

					- var post_image_id = 'image-popup2'
					include ./includes/list_item-post_image.jade

					- var post_image_id = ''
					include ./includes/list_item-post_more.jade

					- var post_image_id = 'image-popup3'
					include ./includes/list_item-post_image.jade

					- var post_image_id = ''
					include ./includes/list_item-post.jade

					- var post_image_id = ''
					include ./includes/list_item-post.jade

				.post__column

					- var post_image_id = ''
					include ./includes/list_item-post.jade

					- var post_image_id = ''
					include ./includes/list_item-post_more.jade

					- var post_image_id = 'image-popup4'
					include ./includes/list_item-post_image.jade

					- var post_image_id = ''
					include ./includes/list_item-post.jade

					- var post_image_id = 'video-popup2'
					include ./includes/list_item-post_video.jade

		include ./includes/footer.jade