doctype html
html(lang="en")
	include ./includes/meta-head.jade

	body
		include ./includes/header.jade

		.main-content__wrap.clearfix

			.account__wrap.width--narrow
				h1 Settings

				form.account-info__form
					.account-info.clearfix
						h6.text--uppercase Account
						.account-info__avatar #[span.image-wrap.border--rounded #[img(src="http://placehold.it/185")]] #[a.button.border-only(href="#") change]

						.account-info__fields
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_name") Your Name
								input.account-info__fields--input.border--rounded(type="text", placeholder="Your Name", id="profile_name", name="profile_name")
								i.icon-user
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_email") Your Email
								input.account-info__fields--input.border--rounded(type="email", placeholder="Your Email", id="profile_email", name="profile_email")
								i.icon-mail
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_password") Your Password
								input.account-info__fields--input.border--rounded(type="password", placeholder="Your Password", id="profile_password" name="profile_password")
								i.icon-lock
							.account-info__fields--input-group
								label.account-info__fields--label.sr-only(for="profile_password_repeat") Your Password Repeat
								input.account-info__fields--input.validate.border--rounded(type="password", placeholder="Your Password Repeat", id="profile_password_repeat" name="profile_password_repeat")
								i.icon-lock
								input.account-info__fields--submit(type="submit", name="profile_info_submit", id="profile_info_submit", value="Save")

					.account-info.clearfix
						h6.text--uppercase Notifications

						.account-info__fields
							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_01") #[input.account-info__fields--checkbox(type="checkbox", checked, id="notify_01", name="notify_01")] #[span.account-info__fields--checkbox__toggle email me when my posts are marked as favorites]

							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_02") #[input.account-info__fields--checkbox(type="checkbox", checked, id="notify_02", name="notify_02")] #[span.account-info__fields--checkbox__toggle email me when I’m mentioned]

							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_03") #[input.account-info__fields--checkbox(type="checkbox", checked, id="notify_03", name="notify_03")] #[span.account-info__fields--checkbox__toggle email me when I get a reply]

							.account-info__fields--input-group.clearfix.fancy.type--slide

								label.account-info__fields--label(for="notify_04") #[input.account-info__fields--checkbox(type="checkbox", id="notify_04", name="notify_04")] #[span.account-info__fields--checkbox__toggle email me when someone follows me]

					.account-info.clearfix
						h6.text--uppercase Privacy

						.account-info__fields
							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_01") #[input.account-info__fields--radio(type="radio", checked, id="privacy_01", name="privacy_group_01")] #[span.account-info__fields--checkbox__toggle allow anyone to tag me]

								label.account-info__fields--label(for="privacy_02") #[input.account-info__fields--radio(type="radio", id="privacy_02", name="privacy_group_01")] #[span.account-info__fields--checkbox__toggle only allow people I follow to tag me]

								label.account-info__fields--label(for="privacy_03") #[input.account-info__fields--radio(type="radio", id="privacy_03", name="privacy_group_01")] #[span.account-info__fields--checkbox__toggle don’t allow anyone to tag me]

							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_04") #[input.account-info__fields--checkbox(type="checkbox", checked, id="privacy_04", name="privacy_04")] #[span.account-info__fields--checkbox__toggle add a  location to my posts]

							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_05") #[input.account-info__fields--checkbox(type="checkbox", id="privacy_05", name="privacy_05")] #[span.account-info__fields--checkbox__toggle let others find me by my email address]

							.account-info__fields--input-group.clearfix.fancy.type--dot

								label.account-info__fields--label(for="privacy_06") #[input.account-info__fields--checkbox(type="checkbox", checked, id="privacy_06", name="privacy_06")] #[span.account-info__fields--checkbox__toggle tailor ads based on my information]

					.account-info.clearfix
						.account-info__fields--input-group.spacing
							input.account-info__fields--submit(type="submit", name="profile_save", id="profile_save", value="Save Changes")

		include ./includes/footer.jade
			script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js")

			script.
				jQuery.validator.setDefaults({
					debug: true,
					success: "valid"
				});
				$(".account-info__form").validate({
					rules: {
						profile_password: "required",
						profile_password_repeat: {
							equalTo: "#profile_password"
						}
					},
					errorPlacement: function(error, element) {}
				});